# Archivo dedicado y exclusivo para la definicion y asignacion
# de valores importantes para la ejecucion del programa
# como el nombre y ubicacion de la base de datos y variables que
# que pueden ser modificadas para la experimentacion del
# mismo, influyendo en el resultado final del programa.

[DATABASE]

UBICACION=./db/hoc.db

[HEURISTICA]

TEMPERATURA_INICIAL=8
#SOLUCIONES ACEPTADAS L:
L_ITERACIONES=1000
EPSILON_TEMP=0.2
EPSILON_EQUILIBRIO=1
P_FACTOR_CAMBIO=0.85
PESO_DESCONEXION=2

#Recomendaciones:
#TEMPERATURA_INICIAL=8
#L_ITERACIONES=1000
#EPSILON_TEMP=0.2
#EPSILON_EQUILIBRIO=1
# .85 <= P <= .95
#PESO_DESCONEXION=2

[MUESTRA]

UBICACION=./etc/muestra.cfg