# Archivo dedicado y exclusivo para la definicion y asignacion
# de valores importantes para la ejecucion del programa
# como el nombre y ubicacion de la base de datos y variables que
# que pueden ser modificadas para la experimentacion del
# mismo, influyendo en el resultado final del programa.

[DATABASE]

UBICACION=./db/hoc.db

[HEURISTICA]

TEMPERATURA_INICIAL=8
#SOLUCIONES ACEPTADAS L:
L_ITERACIONES=1000
EPSILON_TEMP=0.001
EPSILON_EQUILIBRIO=1
P_FACTOR_CAMBIO=0.85
PESO_DESCONEXION=2

#Recomendaciones:
#TEMPERATURA_INICIAL=8
#L_ITERACIONES=1000
#EPSILON_TEMP=0.001
#EPSILON_EQUILIBRIO=1
# .85 <= P <= .95
#PESO_DESCONEXION=2

[MUESTRA]
# 109 -> 160 = 4 833 690
# 109 -> 200 = 3 482 405
# 109 -> 212 = 3 562 370

# 160 -> 200 = 1 363 009
# 160 -> 212 = 1 423 543

# 200 -> 212 = 0 406 966
# 212 -> 234
UBICACION=./etc/muestra.cfg